.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.center{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}